In [2]:
import pandas as pd
import requests

In [3]:
url = "https://www.worldometers.info/coronavirus/#countries"

header = {"User-Agent": "COVID_19"}

In [4]:
r = requests.get(url, headers=header)

In [5]:
df = pd.read_html(r.text)

In [6]:
df = pd.concat(df, axis=0)

In [7]:
df

,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,"Serious,Critical",TotÂ Cases/1M pop,Deaths/1M pop,1stcase
0,USA,105019,+893,1717.0,+21,2537.0,100765,2494.0,317.00,5.00,Jan 20
1,Italy,86498,NaN,9134.0,NaN,10950.0,66414,3732.0,1431.00,151.00,Jan 29
2,Spain,72248,"+6,529",5690.0,+552,12285.0,54273,4165.0,1545.00,122.00,Jan 30
3,Germany,53340,"+2,469",399.0,+48,6658.0,46283,1581.0,637.00,5.00,Jan 26
4,Iran,35408,"+3,076",2517.0,+139,11679.0,21212,3206.0,422.00,30.00,Feb 18
5,France,32964,NaN,1995.0,NaN,5700.0,25269,3787.0,505.00,31.00,Jan 23
6,UK,17089,"+2,546",1019.0,+260,135.0,15935,163.0,252.00,15.00,Jan 30
7,Switzerland,13377,+449,242.0,+11,1530.0,11605,203.0,1546.00,28.00,Feb 24
8,Netherlands,9762,"+1,159",639.0,+93,3.0,9120,761.0,570.00,37.00,Feb 26
9,S. Korea,9478,+146,144.0,+5,4811.0,4523,59.0,185.00,3.00,Jan 19
10,Belgium,9134,"+1,850",353.0,+64,1063.0,7718,789.0,788.00,30.00,Feb 03
11,Austria,8030,+333,68.0,+10,225.0,7737,128.0,892.00,8.00,Feb 24
12,Turkey,5698,NaN,92.0,NaN,42.0,5564,241.0,68.00,1.00,Mar 09
13,Portugal,5170,+902,100.0,+24,43.0,5027,89.0,507.00,10.00,Mar 01
14,Canada,4757,NaN,55.0,NaN,354.0,4348,120.0,126.00,1.00,Jan 24
15,Norway,3972,+201,20.0,+1,7.0,3945,76.0,733.00,4.00,Feb 25
16,Australia,3635,+257,14.0,+1,170.0,3451,23.0,143.00,0.50,Jan 24
17,Brazil,3477,+60,93.0,+1,6.0,3378,296.0,16.00,0.40,Feb 24
18,Israel,3460,+425,12.0,NaN,89.0,3359,50.0,400.00,1.00,Feb 20
19,Sweden,3069,NaN,105.0,NaN,16.0,2948,214.0,304.00,10.00,Jan 30
20,Czechia,2422,+143,9.0,NaN,11.0,2402,34.0,226.00,0.80,Feb 29
21,Malaysia,2320,+159,27.0,+1,320.0,1973,54.0,72.00,0.80,Jan 24
22,Denmark,2201,+155,65.0,+13,1.0,2135,109.0,380.00,11.00,Feb 26
23,Ireland,2121,NaN,22.0,NaN,5.0,2094,59.0,430.00,4.00,Feb 28
24,Ecuador,1627,NaN,41.0,NaN,3.0,1583,58.0,92.00,2.00,Feb 28
25,Chile,1610,NaN,5.0,NaN,43.0,1562,7.0,84.00,0.30,Mar 02
26,Luxembourg,1605,NaN,15.0,NaN,40.0,1550,25.0,2564.00,24.00,Feb 28
27,Japan,1499,NaN,49.0,NaN,404.0,1046,56.0,12.00,0.40,Jan 14
28,Poland,1481,+92,17.0,+1,7.0,1457,3.0,39.00,0.40,Mar 03
29,Romania,1452,+160,29.0,+3,139.0,1284,34.0,75.00,2.00,Feb 25
...,...,...,...,...,...,...,...,...,...,...,...
172,Montserrat,5,NaN,NaN,NaN,NaN,5,NaN,1002.00,NaN,Mar 17
173,St. Barth,5,+2,NaN,NaN,NaN,5,NaN,506.00,NaN,Feb 29
174,Syria,5,NaN,NaN,NaN,NaN,5,NaN,0.30,NaN,Mar 21
175,Nicaragua,4,+2,1.0,+1,NaN,3,NaN,0.60,0.20,Mar 18
176,Nepal,4,+1,NaN,NaN,1.0,3,NaN,0.10,NaN,Jan 23
177,Angola,4,NaN,NaN,NaN,NaN,4,NaN,0.10,NaN,Mar 19
178,Congo,4,NaN,NaN,NaN,NaN,4,NaN,0.70,NaN,Mar 14
179,Vatican City,4,NaN,NaN,NaN,NaN,4,NaN,4994.00,NaN,Mar 05
180,Gambia,3,NaN,1.0,NaN,NaN,2,NaN,1.00,0.40,Mar 16
181,Sudan,3,NaN,1.0,NaN,NaN,2,NaN,0.07,0.02,Mar 12
182,Bhutan,3,+1,NaN,NaN,NaN,3,NaN,4.00,NaN,Mar 05
183,CAR,3,NaN,NaN,NaN,NaN,3,NaN,0.60,NaN,Mar 14
184,Chad,3,NaN,NaN,NaN,NaN,3,NaN,0.20,NaN,Mar 18
185,Liberia,3,NaN,NaN,NaN,NaN,3,NaN,0.60,NaN,Mar 15
186,Mauritania,3,NaN,NaN,NaN,NaN,3,NaN,0.60,NaN,Mar 12
187,Saint Lucia,3,NaN,NaN,NaN,1.0,2,NaN,16.00,NaN,Mar 12
188,Sint Maarten,3,NaN,NaN,NaN,NaN,3,NaN,70.00,NaN,Mar 17
189,Somalia,3,+1,NaN,NaN,NaN,3,NaN,0.20,NaN,Mar 15
190,MS Zaandam,2,+2,NaN,NaN,NaN,2,NaN,NaN,NaN,Mar 26
191,Anguilla,2,NaN,NaN,NaN,NaN,2,NaN,133.00,NaN,Mar 25
192,Belize,2,NaN,NaN,NaN,NaN,2,NaN,5.00,NaN,Mar 22
193,British Virgin Islands,2,NaN,NaN,NaN,NaN,2,NaN,66.00,NaN,Mar 24
194,Guinea-Bissau,2,NaN,NaN,NaN,NaN,2,NaN,1.00,NaN,Mar 24
195,Saint Kitts and Nevis,2,NaN,NaN,NaN,NaN,2,NaN,38.00,NaN,Mar 24
196,Turks and Caicos,2,NaN,NaN,NaN,NaN,2,NaN,52.00,NaN,Mar 22
197,Libya,1,NaN,NaN,NaN,NaN,1,NaN,0.10,NaN,Mar 23
198,Papua New Guinea,1,NaN,NaN,NaN,NaN,1,NaN,0.10,NaN,Mar 19
199,St. Vincent Grenadines,1,NaN,NaN,NaN,NaN,1,NaN,9.00,NaN,Mar 10
200,Timor-Leste,1,NaN,NaN,NaN,NaN,1,NaN,0.80,NaN,Mar 20
201,Total:,596312,"+64,502",27341.0,"+3,273",132676.0,436295,23670.0,76.50,3.50,NaN